.header {
    background-color: #4682B4;
    color: white;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
}
.header-text {
    height: 80px;
    width: 400px;
    text-align: center;
    margin: 10px;
}
/* -----1----- */
.return{
    width: 50px;
    height: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.return img{
    width: 50px;
    max-width: 100%;
}
#text{
    margin-top: 30px;
}
.add{
    width: 50px;
    height: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.add img{
    width: 50px;
    max-width: 100%;
}
/* -----1----- */

/* 2-1 */
.profile {
    text-align: center;
    padding: 10px;
}
.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.plantao-date {
    width: 90%;
    margin-left: 10px;
}
.info-box input[type="number"] {
    width: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.info {
    padding: 10px;
}
.info-box {
    background-color: #e0e0e0;
    margin-top: 2px;
    padding: 10px;
    border-radius: 5px;  /* Corrected line */
}
.action-button {
    width: 30px;  /* Largura do botão */
    height: 30px; /* Altura do botão */
    margin-left: 10px; /* Margem esquerda para espaçar o botão */
}
